doctype html
html(lang='en')
  include includes/head.pug
  body
    label Speed
    input(type='range', min='0', max='5000', step='1', onchange='setRenderSpeed(this.value)')
    button(onclick='toggleColor(this)') Enable Color
    div
      script(type='text/javascript', src='spiro.js')
