.title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: white;

  @font-face {
    font-family: 'Inconsolata';
    src: url('/Inconsolata-Medium.ttf');
  }
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  line-height: 20px;

  > div {
    background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }
}

.contents {
  min-width: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  // @media only screen and (max-width: 400px) {
  //   width: auto;
  // }
}

.gallery {
  display: flex;
  flex-flow: row wrap;

  video {
      /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
  }
}

.galleryItem {
  padding: 20px;
  width: 400px;
}

.subheading {
  padding-bottom: 10px;
}