.title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;

  @media screen and (max-width: 768px) {
    font-size: 4vw;
    flex-direction: column;
  }

  @font-face {
    font-family: 'Inconsolata';
    src: url('/Inconsolata-Medium.ttf');
  }
  font-family: 'Inconsolata', monospace;

  > div {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 16px;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
  }
}

.contents {
  min-width: 400px;
  width: 400px;

  @media screen and (max-width: 768px) {
    min-width: unset;
    width: unset;
  }

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;

  video {
    /* override other styles to make responsive */
    width: 100% !important;
    height: auto !important;
  }
}

.galleryItem {
  padding: 20px;
  width: 320px;

  @media screen and (max-width: 768px) {
    min-width: unset;
    width: unset;
  }
}

.subheading {
  padding-bottom: 10px;
}
