.title {
  @keyframes expand {
    from {
      letter-spacing: 1px;
      margin-left: 1px;
    }

    to {
      letter-spacing: 100px;
      margin-left: 100px;
    }
  }

  font-size: 45px;
  margin-bottom: 50px;
  margin-left: 100px;
  animation-duration: 60s;
  animation-name: expand;
  letter-spacing: 100px;
}

.splash {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}